<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lingoville</title>
    <meta name="description" content="">
    <meta name="author" content="">
   	<link rel='stylesheet' href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/javascripts/bootstrap-modal.js"></script>
	<script src="/javascripts/bootstrap-dropdown.js"></script>
	<script src="/javascripts/bootstrap-tabs.js"></script>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>

	function startmodal(){
	$('#videomodal').modal('show');
    }
	function closemodal(){
		$('#videomodal').modal('hide');
	}
	function blankmodal(){
		$('#videomodal').bind('hidden', function () {
		  $('#notifications').html('');
		 $('#actions').html('');
		 $('#invite').html('');
		})
	}
	</script>

	<script>
	var socket = io.connect();
	socket.on('message', function(msg){
	    console.log(msg);
	});

	  socket.on('connect', function () {
	    	socket.emit('set username',  '<%= everyauth.user.username %>');
			socket.on('change in connected clients', function(){
				console.log('received change in connected clients event');
				var thedata={'learning':'<%= everyauth.user.languages.learner %>','teaching':'<%= everyauth.user.languages.nativespeaker %>'};
		   			socket.emit('return connected clients',thedata);
					console.log('emitted return connected clients');
		   			socket.on('returned connected clients', function(data){
					console.log('returned connected clients received');
			 			var tutorlist=data.tutors;
						var studentlist=data.students;
						console.log('tutorlist',tutorlist);
						console.log('studentlist',studentlist);
						var studentshtml="";
						var tutorshtml="";
						var tutorcounter=0;
						var studentcounter=0;
						for (var index in tutorlist){
							var tempuser=tutorlist[index];
							console.log('tempuser',tempuser);
							tutorshtml+="<div style='padding:15px'><div><h4><a href='#'>"+tempuser.username+"</a></h4></div><div><a onclick='startmodal();socket.emit(&#39;sending invitation&#39; ,{&#39recipient&#39:&#39;"+tempuser.username+"&#39;})' href='#'>Invite to Videochat</a><div>Fluent in <b>"+tempuser.languages.nativespeaker +"</b> </div><div>Learning <b>" +tempuser.languages.learner+ "</b></div></div></div> <!--END OF USER INFO-->";
							tutorcounter++;
						}
						for (var counter in studentlist){
							var tempuser2=studentlist[counter];
							console.log('tempuser2',tempuser2);
							studentshtml+="<div style='padding:15px'><div><h4><a href='#'>"+tempuser2.username+"</a></h4></div><div><a onclick='startmodal();socket.emit(&#39;sending invitation&#39; ,{&#39recipient&#39:&#39;"+tempuser2.username+"&#39;})' href='#'>Invite to Videochat</a><div>Fluent in <b>"+tempuser2.languages.nativespeaker +"</b> </div><div>Learning <b>" +tempuser2.languages.learner+ "</b></div></div></div> <!--END OF USER INFO-->";
							studentcounter++;
						}
						if (studentcounter==0){studentshtml+="<div style='padding:15px'>Sorry, no students online right now!</div>";}
						if (tutorcounter==0){tutorshtml+="<div style='padding:15px'>Sorry, no tutors online right now!</div>";}
						console.log('studentcounter',studentcounter);
						console.log('tutorcounter',tutorcounter);
						console.log('studentshtml',studentshtml);
						console.log('tutorshtml',tutorshtml);
						$('#students').html(studentshtml);
						$('#tutors').html(tutorshtml);

					});	


			});

		 socket.on('deliver invite', function(data){
			console.log('Invite delivered!');
			$('#invite').html(data.inviter+ ' wants to videochat with you! How about it?');
			var accepthtml="<a class='btn primary' onclick='socket.emit(&#39;invitationresponse&#39;,{&#39;inviter&#39:&#39;"+data.inviter+"&#39,&#39;response&#39;:&#39;1&#39;})' href='#'>Accept</a></li>";
			var denyhtml="<a class='btn default' onclick='closemodal();blankmodal();socket.emit(&#39;invitationresponse&#39;,{&#39;inviter&#39:&#39;"+data.inviter+"&#39,&#39;response&#39;:&#39;0&#39;})' href='#'>Deny</a></li>";
			var responsehtml="<span style='margin-right:15px'>"+accepthtml+"</span>"+denyhtml;
			$('#action1').html(accepthtml);
			$('#action2').html(denyhtml);
			$('#videomodal').modal('show');	
		}) ;
		socket.on('response processed',function(data){
			console.log('Processing response!');
			$('#invite').html('');
			$('#actions').html('');
			if (data.response=='1'){
			$('#notifications').html('Connecting now...');
			$('#action1').html("<a onclick='closemodal();' class='btn danger'>End Chat </a>");
			$('#action2').html('');
			}
			else {
			$('notifications').html('');
			}
		});


		socket.on('transmission of invitation response',function(data){
			console.log('Inviters server got the invitees response');
			if (data.response=='1'){
				$('#notifications').html('Invite accepted! Connecting now...');
				$('#action1').html("<a onclick='closemodal();' class='btn danger'>End Chat </a>");
				$('#action2').html('');
				}
			else {
				$('#notifications').html('Invite denied...');
				}
		});
		socket.on('server got invite',function(inviteename){
			    console.log('received server acknowledgement of invite');
				var message='Waiting for response from ' + inviteename +'...';
				$('#notifications').html(message);
			});

	});
	
	</script>
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #c8eefb;
      }
	 .dropdown-menu, .chatlist {
		background-color: #c8eefb;
	}
	.dropdown-menu, .chatlist a{
		color:black;
	}
	.chatlist a:hover{
		background-color:white;
	}
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .content {
        background-color: #c8eefb;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  

      }


      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span7,
      .content .span4 {
        min-height: 200px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span7 .right{
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }
      .topbar .btn {
        border: 0;
      }

    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

	  <div class="topbar-wrapper" style="z-index: 5;">
	    <div class="topbar" data-dropdown="dropdown" >
	      <div class="topbar-inner">
	        <div class="container" style="">
	          <h3><a href="#"><img src="/images/videochatbubble.png" height="20" width="20"/> Lingoville</a></h3>
	          
	        
	          <ul class="nav secondary-nav">
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle"><Suneel><%= everyauth.user.username %></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Profile</a></li>
					<li><a href="#">Progress</a></li>
					<li><a href="#">Notebook</a></li>
	              </ul>
	            </li>
			

				<li class="dropdown">
	              <a href="#" class="dropdown-toggle"> Chat (78) </a>
	              <ul class="dropdown-menu chatlist" style="height:230px; overflow:auto">
	                <li><a href="#">John Frederich</a></li>
	                <li><a href="#">Atuna Tatsumoto</a></li>
					<li><a href="#">Henry Xie</a></li>
					<li><a href="#">Kumar Shiv Patel</a></li>
					<li><a href="#">Saito Masumi</a></li>
					<li><a href="#">Geraldo Rodriguez</a></li>
					<li><a href="#">Tatsu Hayashi</a></li>
					<li><a href="#">Enrique Paralavida</a></li>
					<li><a href="#">Tatiana Peralta</a></li>
					<li><a href="#">Cat Hsu</a></li>
					<li><a href="#">Jeff Bridges</a></li>
					<li><a href="#">Katya Chu</a></li>
					<li><a href="#">Mila Lola</a></li>
					<li><a href="#">Billy Kronenberger</a></li>
					<li><a href="#">Dillon Lebouchard</a></li>
			

					
	              </ul>
	            </li>
				<li class="dropdown">
	              <a href="#" class="dropdown-toggle">Messages !</a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Send new message</a></li>
	                <li><a href="#">Sample message here</a></li>
	                <li class="divider"></li>
	                <li><a href="#">View all messages</a></li>
	              </ul>
	            </li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle"><img src="/images/settingsicon.png" height="18"/></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Settings</a></li>
	                <li><a href="#">Help</a></li>
	                <li class="divider"></li>
	                <li><a href="/logout">Log Out</a></li>
	              </ul>
	            </li>
	          </ul>
	        </div>
	      </div><!-- /topbar-inner -->
	    </div><!-- /topbar -->
	  </div><!-- /topbar-wrapper -->

    <div class="container" style="padding-top:30px"> 
	<a href="#" onclick="startmodal()">Start modal </a>  
	 <div id="videomodal" class="modal hide fade">
	            <div class="modal-header">
	              <h3>Video Console</h3>
	            </div>
	            <div class="modal-body" id="modal-body">
					<div id='publisher'></div>
	              	<div id='notifications'></div>
					<div id='invite'></div>
					<div id='actions'></div>
	            </div>
	            <div class="modal-footer">
	              <span id='action1'><a href="#" class="btn primary">Primary</a> </span>
	              <span id='action2'><a href="#" onclick="closemodal();blankmodal()" class="btn secondary">Close</a></span>
	            </div>
	          </div> 

      <div class="content" style="">
       
        <div class="row" style="">
          <div class="span7">
	<div style=" background-color:#fff;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px">
                    <div style="padding:10px;background: rgb(180,227,145); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 100%, rgba(180,227,145,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(100%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 100%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 100%,rgba(180,227,145,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 100%,rgba(180,227,145,1) 100%); /* IE10+ */
					background: linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 100%,rgba(180,227,145,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */;-webkit-border-top-left-radius: 8px;
					-webkit-border-top-right-radius: 8px;
					-moz-border-radius-topleft: 8px;
					-moz-border-radius-topright: 8px;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;">
					<ul class="pills">
						<li style="margin-right:15px"><h2>Native Speakers</h2></li>	
					  <li class="active"><a href="#tutors"><%= everyauth.user.languages.learner %></a></li>
					
					</ul>
</div>
					<div class="pill-content">
					  <div class="active" id="tutors"> 
					

							</div>
					 

					</div> <!--end of pill content-->

					<script>
					  $(function () {
					    $('.pills').pills()
					  })
					</script>
		</div>


          </div>
          <div class="span7" style="">
	<div style="border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background-color:#fff">
                    <div style="padding:10px;background: rgb(255,197,120); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
					background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */;-webkit-border-top-left-radius: 8px;
					-webkit-border-top-right-radius: 8px;
					-moz-border-radius-topleft: 8px;
					-moz-border-radius-topright: 8px;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;">
					
					<ul class="pills">
					<li style="margin-right:15px"><h2>Students </h2></li>	
					  <li class="active"><a href="#students"><%= everyauth.user.languages.nativespeaker %></a></li>
					 
					</ul>
</div>
					<div class="pill-content">
					  <div class="active" id="students"> 
	

							</div>
					 

					</div> <!--end of pill content-->
					<script>
					  $(function () {
					    $('.pills').pills()
					  })
					</script>
		</div>


          </div>

        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
